html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
  
  .footer {
    background-color: #e3e1e1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    padding: 5px 5px;
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
  }
  
  .footer p {
    margin: 5px;
  }
  
  .custom-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  .carousel-item {
    height: 250px;
  }

  .whoareweSection {
    background-color: #e6e6fa !important;
    display: flex;
    justify-content: center;
  }

  .whoarewesubSection {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .whoarewesubDescription {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }

  .whoarewesubDescription p, h3 {
    width: 300px;
  }

  .card-img-top {
    height: 200px;
    object-fit: contain;
  }
  
  .Padding1 {
    position: relative;
    right: 50px;
  }  
  .Padding2 {
    position: relative;
    left: 15px;
  }
  .Padding3 {
    position: relative;
    left: 60px;
  }

  .CardMargin {
    position: relative;
    margin-top: 20px;
  }