html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  background-color: #e3e1e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  text-align: center;
  padding: 10px 10px;
  width: 100%;
}

.footer p {
  margin: 5px;
}

/* https://paletton.com/#uid=34W0U0kllllb+vGgFqwq0gauGa+ */
.dark-section {
  background-color: #4b0082 !important;
}

.light-section {
  background-color: #e6e6fa !important;
}

img{
  max-height: 400px;
  margin: 0px 50px;
}